body{
    font-family: "roboto";
    
}

/* Banner */

.careers .banner{
    width: 100%;
    position: relative;
    z-index: 0;
}

.careers .banner img.go-big{
    position: absolute;
    z-index: 10;
    left: 10em;
    bottom: 0.5em;
}

.careers .banner img.paytm-logo{
    position: absolute;
    z-index: 10;
    top: 3.2em;
    right: 11.5em;
}

.careers .banner img.top-img{
    width: 100%;
}

/* Tagline */

.tagline .container h2{
    padding: 1.5em;
    font-weight: 300;
    max-width: 70%;
}

.tagline .container strong{
    font-weight: 700;
}

/* Scope Area */

.scope-area .scope{
    display: flex;
    margin-left: 3em;
    margin-right: 3em;
}

.scope-area .scope .block{
    color: #fff;
    padding: 2.5em 2.5em 5em 2.5em;
}

.scope-area .scope .block.n-1{
    background-color: #00B9F5 ;
}

.scope-area .scope .block.n-2{
    background-color: #213368 ;
}

.scope-area .scope .block h4{
    font-weight: 700;
}

/* Explore Button */

.careers .explore{
    text-align: center;
    padding: 2.5em ;
    padding-bottom: 8em;
}

.careers .explore .explore-btn{
    border-radius: 0;
    text-align: center;
    padding: 0.5em 1.8em;
    background-color: #213368 ;
}

/* Career Blog */

.career-blog{
    background-color: #00B9F5;
    color: #fff;
}

.career-blog .container{
    display: flex;
    padding: 4.5em 4em ;
    
}

.career-blog .container .left{
    max-width: 60%;
}

.career-blog .container .left h3{
    font-weight: 700;
    padding-bottom:0.5em ;
}

.career-blog .container .left p{
    padding-bottom: 1.8em;
}

.career-blog .container .left .explore-btn{
    background-color: #213368;
    font-size: 18px;
    border-radius: 0;
    padding: 0.6em 2.2em;
}

.career-blog .container .right img{
    padding-left: 2.5em;
    width: 100%;
    height: 100%;
}

/* Our Values */

.our-value .container{
    padding: 4em ;
}

.our-value .container h3{
    color: #1D2F54;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    padding-bottom: 0.5em;
}

.our-value .container p{
    color: #506D85;
    padding-bottom: 2em ;
}

.our-value .container .value-slider{
    display: flex;
}

.our-value .container .value-slider .carousel{
    margin: 1.7em;
}

.our-value .container .value-slider .carousel .block{
    padding: 2em;
    background-color: rgba(0,185,245,0.1);
    border-radius: 3%;
}

.our-value .container .value-slider .carousel .block  h4{
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 0.5em;
    color: rgb(76, 83, 85);
}

.our-value .container .value-slider .carousel .block p{
    max-width: 100%;
    padding-bottom: 4em;
}


/* Our People */

.our-people {
    position: relative;
    margin-bottom: 40px;
    color: #fff;
}

.our-people .people-slider .block .caption {
    position: relative;
    z-index: 3;
    position: absolute;
    background: #fff;
    width: 515px;
    box-sizing: border-box;
    top: 50%;
    left: 500px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    margin: -50px 25px 0;
    background: #fff;
    padding: 25px 20px 0;
}

.our-people .people-slider .block .caption h4 {
    font-size: 26px;
    line-height: 30px;
    color: #1D2F54;
    font-weight: 300;
    margin: 0 0 15px;
}

.our-people .people-slider .block .caption p {
    color: #506D85;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.our-people .container {
    position: relative;
    padding: 4em;
}
.our-people h3.head {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 3
}
.our-people .people-slider .block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative
}
.our-people .people-slider .block .img {
    width: 540px
}

/* Story */

.story{
    background-color: #00B9F5;
    color: #fff;
    padding: 2em;
}

.story .container{
    padding: 0 3.5em;
}

.story .container h3{
    font-weight: 700;
    padding-bottom: 0.6em;
}

/* The Perks */

.perks .container{
    padding: 3em 4em;
}

.perks .container h3{
    color: #1D2F54;
    font-weight: 700;
    padding-bottom: 0.5em;;
}

.perks .container .section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}
/* Location */

.our-location{
    background-color: #213368;
}

.our-location .container{
    padding: 3em;
    padding-left: 4em;
    color: #fff;
}

.our-location .container h3{
    padding-bottom: 1em;
}

.our-location .location-slider{
    display: flex;
}

.our-location .location-slider .block{
    padding-right: 1em;
}

.our-location .location-slider .block p{
    font-size: 13px;
    padding-bottom: 1em;
}

/* Story  bottom */

.story-2 .container{
    padding: 4em;
}

.story-2 .container h3{
    color: #1D2F54;
    font-weight: 700;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.story-2 .container p{
    color: #506D85;
    padding-bottom: 0.5em;
}

/* Social Media */

.follow-us .container{
    padding-left: 4em;
}

.follow-us .container h3{
    font-weight: 700;
    padding-bottom: 0.5em;
}

.follow-us .container img{
    width: 50px;
    height: 85px;
    padding-right: 1em;
    padding-bottom: 3em;
}

@media (max-width: 1178px) {
    .our-people .people-slider .block .caption {
        width: 420px;
        top: 50%;
        left: 50%;
        right: 50px;
        padding: 25px;
    }

    
   

}

@media (max-width : 1000px) {
    
    /* Banner */
    
    .careers .banner img.go-big{
        left: 2.5em;
        bottom: 1em;
        width: 30%;
        height: 50%;
    }
    
    .careers .banner img.paytm-logo{
        top: 20%;
        right: 10%;
        width: 10%;
        height: 10%;
    }
    
    .careers .banner img.top-img{
        width: 100%;
    }
    
    /* The Perks */

    .perks .container .section{
        display: flex;
        justify-content: end;
        text-align: center;
        padding: 2.5em;
    }


    /* Our Values */

    .our-value .container{
        max-width: 90%;
    }
    
    .our-value .container .value-slider{
        display: grid;
    }
    
    .our-value .container .value-slider .carousel{
        margin-left: 4em;
        margin-right: 5em;
    }
    
}

@media (max-width : 600px) {

    /* Our Values */

    .our-value .container{
        padding: 2.5em ;
        max-width: 100%;
    }
    
    .our-value .container .value-slider{
        display: grid;
    }
    
    .our-value .container .value-slider .carousel{
        margin: 1em;
    }
    
    .our-value .container .value-slider .carousel .block{
        padding: 1.5em;
        background-color: rgba(0,185,245,0.1);
        border-radius: 3%;
    }
    
    .our-value .container .value-slider .carousel .block p{
        max-width: 100%;
        padding-bottom: 4em;
    }
    
}

@media (max-width: 997px) {
    
    .careers .banner img{
        background-image: url("images/top-img.webp");
    }

    .tagline .container h2{
        max-width: 100%;
        display: block;
    }

    .scope-area .scope{
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
    }

    .career-blog .container{
        display: grid;
        justify-content: space-between;
        align-items: center;
        padding: 2.5em ;   
    }

    .career-blog .container .left{
        max-width: 100%;
    }

    .career-blog .container .left a{
        text-align: center;
        padding: auto;
    }
    
    .career-blog .container .left .explore-btn{
        background-color: #213368;
        font-size: 18px;
        border-radius: 0;
        padding: 0.6em 2.2em;
    }
    
    .career-blog .container .right img{
        padding-top: 2em;
        padding-left: 0;
        width: 100%;
        height: 100%;
    }
    
    
    /* Our People */

    .our-people .people-slider .block .caption {
        width: 420px;
        top: 110%;
        left: auto;
        right: auto;
        padding: 25px;
    }

    .our-people .container {
        padding: 0;
        max-width: 100%;
    }

    .our-people h3.head {
        top: 60px;
        left: 60px;
        
    }

    .our-people .people-slider .block img{
        max-width: 100%;
    }
    .our-people .people-slider .block .img {
        width: 100%;
        max-width: 100%;
    }

    /* Story */

    .story{
        margin-top: 120px;
    }

    .story .container{
        padding: 0 0.5em;
    }

    .story .container h3{
        padding-bottom: 1em;
    }

    
    /* The Perks */

    .perks .container .section{
        display: block;
        text-align: center;
        padding: 2.5em;
    }

    /* Location */

    .our-location .container{
        padding: 3em;
    }

    .our-location .container h3{
        padding-bottom: 0.5em;
    }

    .our-location .location-slider{
        display: inline-block;
    }

    .our-location .location-slider .block{
        padding-right: 0em;
    }

    .our-location .location-slider .block p{
        font-size: 13px;
        padding-bottom: 1em;
    }

    /* Story  bottom */

    .story-2 .container{
        padding: 3em;
    }

    /* Social Media */

    .follow-us .container{
        padding-left: 3em;
    }
}

